.header{
    background-color: #eb710d;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    font-size: 24px;
    font-family: Verdana;
    color: rgb(255, 255, 255);
    font-weight: bolder;

}

.propaganda{
    height: 500px;
    background-color: black;
    background: url("amd.png") center;
    background-size: contain;
    background-repeat: no-repeat;
}